
@{
    ViewBag.Title = "New Rental";
}

<h2>New Rental</h2>
<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="txtCustomer" name="customer" data-rule-validateCustomer required type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="txtMovie" name="movie"  data-rule-validateMovie  type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            var vm =
            {
                CustomerId: 0,
                MoviesId: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '../api/customers/?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#txtCustomer').typeahead(
                {
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select", function (e, customer) {
                    vm.CustomerId = customer.id;
                });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '../api/movies/?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#txtMovie').typeahead(
                {
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select", function (e, movie) {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                    $("#txtMovie").typeahead("val", "");
                    vm.MoviesId.push(movie.id);

                    console.log(vm);
                });

            $.validator.addMethod("validateCustomer", function () {
                return vm.CustomerId && vm.CustomerId != 0
            }, "Please select a valid customer.")

            $.validator.addMethod("validateMovie", function () {
                return vm.MoviesId.length > 0
            }, "Please select at least one valid movie.")


            var validator = $("#newRental").validate({
                submitHandler: function () {
                    
                    $.ajax({
                        url: "/api/MovieRentals",
                        method: "POST",
                        data: vm
                    })
                        .done(function () {
                            console.log('done');
                            toastr.success("Movie successfully recorded.");
                            $("#txtCustomer").typeahead("val", "");
                            $("#txtMovie").typeahead("val", "");
                            $("#movies").empty();
                            validator.resetForm();

                            vm = {
                                MoviesId: [], CustomerId: 0
                            };
                        })
                        .fail(function (xhr, status, error) {
                            toastr.error("Something unexpected happened. <br> " + xhr.responseJSON.message);
                        });
                    return false;
                }
            });

        });
    </script>
}
